In [2]:
import pandas as pd
diab = pd.read_csv("D:/uci_data/bdas/diabetes_data.csv")

df=[diab]
print(diab.head(20))

    time_in_hr diabetes insulin change readmitted   gender  age medication
0           11       no    high    yes         no     Male   39         no
1            9       no    high     no        yes     Male   50        yes
2            8      yes      up    yes         no     Male   38        yes
3            6      yes  steady    yes         no     Male   53        yes
4            9       no    high    yes        yes   Female   28         no
5            8       no      up    yes        yes   Female   37        yes
6            8      yes  steady    yes         no   Female   49         no
7           10      yes    high    yes        yes     Male   52        yes
8            7       no    high    yes         no   Female   31        yes
9            7      yes    high    yes        yes     Male   42         no
10           6       no    high     no        yes     Male   37        yes
11          10       no      up     no        yes     Male   30         no
12           8       no    high    yes         no   Female   23         no
13          10      yes    high     no         no     Male   32         no
14           6      yes  steady    yes        yes     Male   40        yes
15          10       no      up    yes        yes     Male   34         no
16           8      yes    high     no         no     Male   25         no
17          10       no      up    yes        yes     Male   32        yes
18           8       no      up     no         no     Male   38         no
19          10      yes      up    yes         no   Female   43        yes

In [3]:
adult = pd.read_csv("D:/uci_data/bdas/adult_data.csv")
af=[adult]
print(adult.head(20))

    age          workclass  fnlwght      education  education no  \
0    39          State-gov    77516      Bachelors            13
1    50   Self-emp-not-inc    83311      Bachelors            13
2    38            Private   215646        HS-grad             9
3    53            Private   234721           11th             7
4    28            Private   338409      Bachelors            13
5    37            Private   284582        Masters            14
6    49            Private   160187            9th             5
7    52   Self-emp-not-inc   209642        HS-grad             9
8    31            Private    45781        Masters            14
9    42            Private   159449      Bachelors            13
10   37            Private   280464   Some-college            10
11   30          State-gov   141297      Bachelors            13
12   23            Private   122272      Bachelors            13
13   32            Private   205019     Assoc-acdm            12
14   40            Private   121772      Assoc-voc            11
15   34            Private   245487        7th-8th             4
16   25   Self-emp-not-inc   176756        HS-grad             9
17   32            Private   186824        HS-grad             9
18   38            Private    28887           11th             7
19   43   Self-emp-not-inc   292175        Masters            14

           maritial status          occupation    relationship  \
0            Never-married        Adm-clerical   Not-in-family
1       Married-civ-spouse     Exec-managerial         Husband
2                 Divorced   Handlers-cleaners   Not-in-family
3       Married-civ-spouse   Handlers-cleaners         Husband
4       Married-civ-spouse      Prof-specialty            Wife
5       Married-civ-spouse     Exec-managerial            Wife
6    Married-spouse-absent       Other-service   Not-in-family
7       Married-civ-spouse     Exec-managerial         Husband
8            Never-married      Prof-specialty   Not-in-family
9       Married-civ-spouse     Exec-managerial         Husband
10      Married-civ-spouse     Exec-managerial         Husband
11      Married-civ-spouse      Prof-specialty         Husband
12           Never-married        Adm-clerical       Own-child
13           Never-married               Sales   Not-in-family
14      Married-civ-spouse        Craft-repair         Husband
15      Married-civ-spouse    Transport-moving         Husband
16           Never-married     Farming-fishing       Own-child
17           Never-married   Machine-op-inspct       Unmarried
18      Married-civ-spouse               Sales         Husband
19                Divorced     Exec-managerial       Unmarried

                   race   gender  capital gain  capital loss  hours per week  \
0                 White     Male          2174             0              40
1                 White     Male             0             0              13
2                 White     Male             0             0              40
3                 Black     Male             0             0              40
4                 Black   Female             0             0              40
5                 White   Female             0             0              40
6                 Black   Female             0             0              16
7                 White     Male             0             0              45
8                 White   Female         14084             0              50
9                 White     Male          5178             0              40
10                Black     Male             0             0              80
11   Asian-Pac-Islander     Male             0             0              40
12                White   Female             0             0              30
13                Black     Male             0             0              50
14   Asian-Pac-Islander     Male             0             0              40
15   Amer-Indian-Eskimo     Male             0             0              45
16                White     Male             0             0              35
17                White     Male             0             0              40
18                White     Male             0             0              50
19                White   Female             0             0              45

    native country   salary
0    United-States   <=50K
1    United-States   <=50K
2    United-States   <=50K
3    United-States   <=50K
4             Cuba   <=50K
5    United-States   <=50K
6          Jamaica   <=50K
7    United-States    >50K
8    United-States    >50K
9    United-States    >50K
10   United-States    >50K
11           India    >50K
12   United-States   <=50K
13   United-States   <=50K
14               ?    >50K
15          Mexico   <=50K
16   United-States   <=50K
17   United-States   <=50K
18   United-States   <=50K
19   United-States    >50K

In [4]:
onlyWomenA =(adult[adult.gender== " Female"])
print(onlyWomenA.head(20))

    age          workclass  fnlwght      education  education no  \
4    28            Private   338409      Bachelors            13
5    37            Private   284582        Masters            14
6    49            Private   160187            9th             5
8    31            Private    45781        Masters            14
12   23            Private   122272      Bachelors            13
19   43   Self-emp-not-inc   292175        Masters            14
21   54            Private   302146        HS-grad             9
24   59            Private   109015        HS-grad             9
37   19            Private   544091        HS-grad             9
43   49            Private    94638        HS-grad             9
47   44            Private   128354        Masters            14
50   25            Private    32275   Some-college            10
51   18            Private   226956        HS-grad             9
52   47            Private    51835    Prof-school            15
66   28            Private   183175   Some-college            10
67   53            Private   169846        HS-grad             9
71   31            Private   309974      Bachelors            13
78   18            Private   309634           11th             7
82   46            Private    51618        HS-grad             9
84   44            Private   343591        HS-grad             9

           maritial status        occupation    relationship    race   gender  \
4       Married-civ-spouse    Prof-specialty            Wife   Black   Female
5       Married-civ-spouse   Exec-managerial            Wife   White   Female
6    Married-spouse-absent     Other-service   Not-in-family   Black   Female
8            Never-married    Prof-specialty   Not-in-family   White   Female
12           Never-married      Adm-clerical       Own-child   White   Female
19                Divorced   Exec-managerial       Unmarried   White   Female
21               Separated     Other-service       Unmarried   Black   Female
24                Divorced      Tech-support       Unmarried   White   Female
37       Married-AF-spouse      Adm-clerical            Wife   White   Female
43               Separated      Adm-clerical       Unmarried   White   Female
47                Divorced   Exec-managerial       Unmarried   White   Female
50      Married-civ-spouse   Exec-managerial            Wife   Other   Female
51           Never-married     Other-service       Own-child   White   Female
52      Married-civ-spouse    Prof-specialty            Wife   White   Female
66                Divorced      Adm-clerical   Not-in-family   White   Female
67      Married-civ-spouse      Adm-clerical            Wife   White   Female
71               Separated             Sales       Own-child   Black   Female
78           Never-married     Other-service       Own-child   White   Female
82      Married-civ-spouse     Other-service            Wife   White   Female
84                Divorced      Craft-repair   Not-in-family   White   Female

    capital gain  capital loss  hours per week  native country   salary
4              0             0              40            Cuba   <=50K
5              0             0              40   United-States   <=50K
6              0             0              16         Jamaica   <=50K
8          14084             0              50   United-States    >50K
12             0             0              30   United-States   <=50K
19             0             0              45   United-States    >50K
21             0             0              20   United-States   <=50K
24             0             0              40   United-States   <=50K
37             0             0              25   United-States   <=50K
43             0             0              40   United-States   <=50K
47             0             0              40   United-States   <=50K
50             0             0              40   United-States   <=50K
51             0             0              30               ?   <=50K
52             0          1902              60        Honduras    >50K
66             0             0              40   United-States   <=50K
67             0             0              40   United-States    >50K
71             0             0              40   United-States   <=50K
78             0             0              22   United-States   <=50K
82             0             0              40   United-States   <=50K
84         14344             0              40   United-States    >50K

In [5]:
onlyWomen =(diab[diab.gender== " Female"])
print(onlyWomen.head(20))

    time_in_hr diabetes insulin change readmitted   gender  age medication
4            9       no    high    yes        yes   Female   28         no
5            8       no      up    yes        yes   Female   37        yes
6            8      yes  steady    yes         no   Female   49         no
8            7       no    high    yes         no   Female   31        yes
12           8       no    high    yes         no   Female   23         no
19          10      yes      up    yes         no   Female   43        yes
21           7       no      up     no        yes   Female   54         no
24           9      yes    high     no        yes   Female   59        yes
37           9      yes    high     no        yes   Female   19         no
43           8       no      up    yes        yes   Female   49        yes
47          10      yes    high    yes        yes   Female   44         no
50           6      yes    high     no         no   Female   25         no
51           7      yes  steady    yes        yes   Female   18         no
52           9       no    high     no        yes   Female   47         no
66           8       no    high     no        yes   Female   28        yes
67           9      yes    high    yes        yes   Female   53        yes
71          10      yes      up    yes        yes   Female   31        yes
78           6      yes    high    yes         no   Female   18        yes
82           6      yes      up     no        yes   Female   46        yes
84          10       no  steady     no         no   Female   44        yes

In [6]:
filenames = ['Datasets/diabetes_data.csv','Datasets/adult_data.csv']
#dataframes = [pd.read_csv(f) for f in filenames]

onlyWomen =(diab[diab.gender== " Female"])
onlyWomenA =(adult[adult.gender== " Female"])
print(onlyWomen)
result = pd.merge(onlyWomen, onlyWomenA, left_on='age', right_index=True,how='inner', sort=True)
#print(result)
#result= result.select('time_in_hr','diabetes','insulin','change','gender_x','age_x','medication','readmitted','occupation','maritial status','relationship','hours per week','salary')
result.drop(['capital gain','capital loss','gender_y','age_y','native country','fnlwght'],axis=1,inplace=True)

print(result)

       time_in_hr diabetes insulin change readmitted   gender  age medication
4               9       no    high    yes        yes   Female   28         no
5               8       no      up    yes        yes   Female   37        yes
6               8      yes  steady    yes         no   Female   49         no
8               7       no    high    yes         no   Female   31        yes
12              8       no    high    yes         no   Female   23         no
19             10      yes      up    yes         no   Female   43        yes
21              7       no      up     no        yes   Female   54         no
24              9      yes    high     no        yes   Female   59        yes
37              9      yes    high     no        yes   Female   19         no
43              8       no      up    yes        yes   Female   49        yes
47             10      yes    high    yes        yes   Female   44         no
50              6      yes    high     no         no   Female   25         no
51              7      yes  steady    yes        yes   Female   18         no
52              9       no    high     no        yes   Female   47         no
66              8       no    high     no        yes   Female   28        yes
67              9      yes    high    yes        yes   Female   53        yes
71             10      yes      up    yes        yes   Female   31        yes
78              6      yes    high    yes         no   Female   18        yes
82              6      yes      up     no        yes   Female   46        yes
84             10       no  steady     no         no   Female   44        yes
85              7       no  steady     no        yes   Female   53        yes
89              6       no  steady     no        yes   Female   43        yes
91             10      yes    high     no        yes   Female   37        yes
92              6       no    high     no         no   Female   28        yes
93             10       no      up     no         no   Female   30        yes
98              8       no      up     no        yes   Female   48        yes
102             8       no  steady     no        yes   Female   47        yes
103             6      yes  steady     no        yes   Female   20        yes
106            10       no      up     no         no   Female   17        yes
108            10       no      up     no        yes   Female   31        yes
...           ...      ...     ...    ...        ...      ...  ...        ...
32486           7      yes    high     no        yes   Female   24         no
32491          10      yes  steady    yes        yes   Female   33         no
32493           6       no  steady    yes         no   Female   24        yes
32497           7      yes  steady     no        yes   Female   34         no
32504          10       no    high     no        yes   Female   50         no
32508           9       no  steady    yes         no   Female   45         no
32509           8      yes      up    yes         no   Female   32         no
32511           7       no      up    yes         no   Female   25         no
32513           7      yes      up     no        yes   Female   46         no
32516           9      yes      up     no         no   Female   30         no
32520          10      yes  steady     no        yes   Female   27         no
32524           7      yes    high    yes         no   Female   26         no
32525           7       no    high    yes        yes   Female   81        yes
32528           7       no      up     no         no   Female   31         no
32529           6      yes      up     no        yes   Female   29         no
32530          10       no    high    yes         no   Female   35         no
32531          10      yes  steady    yes         no   Female   30        yes
32534           7       no      up     no        yes   Female   37        yes
32536           9       no      up    yes        yes   Female   34        yes
32538          10       no    high    yes         no   Female   38         no
32540           9      yes      up    yes         no   Female   45        yes
32541           6       no      up     no         no   Female   41        yes
32543           7       no      up    yes        yes   Female   45         no
32544           9       no  steady    yes         no   Female   31        yes
32545           7       no  steady    yes        yes   Female   39        yes
32546           6      yes  steady    yes        yes   Female   37        yes
32549           9       no    high     no         no   Female   43        yes
32556           7       no      up    yes         no   Female   27        yes
32558           9       no    high    yes        yes   Female   58         no
32560           9      yes      up    yes        yes   Female   52        yes

[10771 rows x 8 columns]
       age  time_in_hr diabetes insulin change readmitted gender_x  age_x  \
37      19           9      yes    high     no        yes   Female     19
312     19           8       no    high     no        yes   Female     19
388     19           6      yes    high     no        yes   Female     19
389     19           8       no      up    yes         no   Female     19
450     19           6       no  steady     no         no   Female     19
635     19           6       no      up    yes         no   Female     19
699     19           9      yes      up     no         no   Female     19
717     19          10       no      up    yes        yes   Female     19
740     19           6       no    high     no         no   Female     19
879     19          10      yes  steady    yes        yes   Female     19
931     19          10      yes    high     no         no   Female     19
1081    19           9       no    high     no         no   Female     19
1097    19           7       no  steady     no        yes   Female     19
1140    19          10      yes    high    yes         no   Female     19
1194    19           8       no      up    yes         no   Female     19
1393    19           6      yes    high    yes         no   Female     19
1570    19          10       no      up    yes         no   Female     19
1759    19           9      yes      up     no         no   Female     19
1828    19           8      yes      up     no         no   Female     19
1990    19           7       no      up     no         no   Female     19
2036    19          10       no      up     no         no   Female     19
2272    19           9       no      up    yes        yes   Female     19
2335    19           9       no      up    yes        yes   Female     19
2384    19          10       no      up     no         no   Female     19
2398    19           8       no      up    yes        yes   Female     19
2496    19           6       no  steady    yes        yes   Female     19
2544    19           9      yes      up    yes         no   Female     19
2575    19           9       no    high    yes         no   Female     19
2644    19           9       no      up     no        yes   Female     19
2728    19           6       no      up     no        yes   Female     19
...    ...         ...      ...     ...    ...        ...      ...    ...
14047   71          10       no      up     no         no   Female     71
14178   71           7       no    high    yes        yes   Female     71
15472   71           7      yes  steady    yes         no   Female     71
16134   71           8       no    high    yes         no   Female     71
16981   71           7      yes  steady    yes        yes   Female     71
17932   71           8      yes      up     no         no   Female     71
18008   71           7       no    high     no         no   Female     71
19112   71           7       no      up     no         no   Female     71
20461   71           9       no      up     no        yes   Female     71
20644   71           7      yes      up    yes         no   Female     71
20772   71           9       no    high     no        yes   Female     71
23573   71          10      yes    high    yes         no   Female     71
23933   71           9       no  steady    yes         no   Female     71
27820   71          10       no  steady    yes         no   Female     71
28476   71          10       no      up    yes         no   Female     71
28697   71           8       no    high     no        yes   Female     71
978     78           9      yes    high     no        yes   Female     78
5590    78           6       no      up     no        yes   Female     78
5832    78          10       no  steady    yes        yes   Female     78
9770    78           7       no  steady    yes        yes   Female     78
11770   78           6      yes      up     no        yes   Female     78
25270   78           7      yes      up     no         no   Female     78
29148   78           6      yes    high    yes        yes   Female     78
14756   82           7       no  steady    yes         no   Female     82
21812   82           7       no      up    yes        yes   Female     82
9471    84           9       no    high     no         no   Female     84
14711   84           7       no      up    yes         no   Female     84
15662   84           8       no    high    yes        yes   Female     84
26731   84           9       no      up    yes         no   Female     84
20463   85           8       no    high    yes        yes   Female     85

      medication          workclass   education  education no  \
37            no   Self-emp-not-inc     Masters            14
312          yes   Self-emp-not-inc     Masters            14
388          yes   Self-emp-not-inc     Masters            14
389          yes   Self-emp-not-inc     Masters            14
450          yes   Self-emp-not-inc     Masters            14
635          yes   Self-emp-not-inc     Masters            14
699          yes   Self-emp-not-inc     Masters            14
717          yes   Self-emp-not-inc     Masters            14
740          yes   Self-emp-not-inc     Masters            14
879          yes   Self-emp-not-inc     Masters            14
931          yes   Self-emp-not-inc     Masters            14
1081         yes   Self-emp-not-inc     Masters            14
1097         yes   Self-emp-not-inc     Masters            14
1140         yes   Self-emp-not-inc     Masters            14
1194         yes   Self-emp-not-inc     Masters            14
1393         yes   Self-emp-not-inc     Masters            14
1570         yes   Self-emp-not-inc     Masters            14
1759         yes   Self-emp-not-inc     Masters            14
1828         yes   Self-emp-not-inc     Masters            14
1990         yes   Self-emp-not-inc     Masters            14
2036         yes   Self-emp-not-inc     Masters            14
2272         yes   Self-emp-not-inc     Masters            14
2335         yes   Self-emp-not-inc     Masters            14
2384         yes   Self-emp-not-inc     Masters            14
2398         yes   Self-emp-not-inc     Masters            14
2496         yes   Self-emp-not-inc     Masters            14
2544         yes   Self-emp-not-inc     Masters            14
2575         yes   Self-emp-not-inc     Masters            14
2644         yes   Self-emp-not-inc     Masters            14
2728         yes   Self-emp-not-inc     Masters            14
...          ...                ...         ...           ...
14047        yes            Private   Bachelors            13
14178        yes            Private   Bachelors            13
15472        yes            Private   Bachelors            13
16134        yes            Private   Bachelors            13
16981        yes            Private   Bachelors            13
17932        yes            Private   Bachelors            13
18008        yes            Private   Bachelors            13
19112        yes            Private   Bachelors            13
20461        yes            Private   Bachelors            13
20644        yes            Private   Bachelors            13
20772        yes            Private   Bachelors            13
23573        yes            Private   Bachelors            13
23933        yes            Private   Bachelors            13
27820        yes            Private   Bachelors            13
28476         no            Private   Bachelors            13
28697         no            Private   Bachelors            13
978          yes            Private        11th             7
5590         yes            Private        11th             7
5832         yes            Private        11th             7
9770         yes            Private        11th             7
11770        yes            Private        11th             7
25270        yes            Private        11th             7
29148         no            Private        11th             7
14756        yes            Private     HS-grad             9
21812        yes            Private     HS-grad             9
9471         yes            Private     HS-grad             9
14711        yes            Private     HS-grad             9
15662        yes            Private     HS-grad             9
26731        yes            Private     HS-grad             9
20463        yes            Private     HS-grad             9

           maritial status        occupation    relationship    race  \
37                Divorced   Exec-managerial       Unmarried   White
312               Divorced   Exec-managerial       Unmarried   White
388               Divorced   Exec-managerial       Unmarried   White
389               Divorced   Exec-managerial       Unmarried   White
450               Divorced   Exec-managerial       Unmarried   White
635               Divorced   Exec-managerial       Unmarried   White
699               Divorced   Exec-managerial       Unmarried   White
717               Divorced   Exec-managerial       Unmarried   White
740               Divorced   Exec-managerial       Unmarried   White
879               Divorced   Exec-managerial       Unmarried   White
931               Divorced   Exec-managerial       Unmarried   White
1081              Divorced   Exec-managerial       Unmarried   White
1097              Divorced   Exec-managerial       Unmarried   White
1140              Divorced   Exec-managerial       Unmarried   White
1194              Divorced   Exec-managerial       Unmarried   White
1393              Divorced   Exec-managerial       Unmarried   White
1570              Divorced   Exec-managerial       Unmarried   White
1759              Divorced   Exec-managerial       Unmarried   White
1828              Divorced   Exec-managerial       Unmarried   White
1990              Divorced   Exec-managerial       Unmarried   White
2036              Divorced   Exec-managerial       Unmarried   White
2272              Divorced   Exec-managerial       Unmarried   White
2335              Divorced   Exec-managerial       Unmarried   White
2384              Divorced   Exec-managerial       Unmarried   White
2398              Divorced   Exec-managerial       Unmarried   White
2496              Divorced   Exec-managerial       Unmarried   White
2544              Divorced   Exec-managerial       Unmarried   White
2575              Divorced   Exec-managerial       Unmarried   White
2644              Divorced   Exec-managerial       Unmarried   White
2728              Divorced   Exec-managerial       Unmarried   White
...                    ...               ...             ...     ...
14047            Separated             Sales       Own-child   Black
14178            Separated             Sales       Own-child   Black
15472            Separated             Sales       Own-child   Black
16134            Separated             Sales       Own-child   Black
16981            Separated             Sales       Own-child   Black
17932            Separated             Sales       Own-child   Black
18008            Separated             Sales       Own-child   Black
19112            Separated             Sales       Own-child   Black
20461            Separated             Sales       Own-child   Black
20644            Separated             Sales       Own-child   Black
20772            Separated             Sales       Own-child   Black
23573            Separated             Sales       Own-child   Black
23933            Separated             Sales       Own-child   Black
27820            Separated             Sales       Own-child   Black
28476            Separated             Sales       Own-child   Black
28697            Separated             Sales       Own-child   Black
978          Never-married     Other-service       Own-child   White
5590         Never-married     Other-service       Own-child   White
5832         Never-married     Other-service       Own-child   White
9770         Never-married     Other-service       Own-child   White
11770        Never-married     Other-service       Own-child   White
25270        Never-married     Other-service       Own-child   White
29148        Never-married     Other-service       Own-child   White
14756   Married-civ-spouse     Other-service            Wife   White
21812   Married-civ-spouse     Other-service            Wife   White
9471              Divorced      Craft-repair   Not-in-family   White
14711             Divorced      Craft-repair   Not-in-family   White
15662             Divorced      Craft-repair   Not-in-family   White
26731             Divorced      Craft-repair   Not-in-family   White
20463             Divorced             Sales       Own-child   White

       hours per week   salary
37                 45    >50K
312                45    >50K
388                45    >50K
389                45    >50K
450                45    >50K
635                45    >50K
699                45    >50K
717                45    >50K
740                45    >50K
879                45    >50K
931                45    >50K
1081               45    >50K
1097               45    >50K
1140               45    >50K
1194               45    >50K
1393               45    >50K
1570               45    >50K
1759               45    >50K
1828               45    >50K
1990               45    >50K
2036               45    >50K
2272               45    >50K
2335               45    >50K
2384               45    >50K
2398               45    >50K
2496               45    >50K
2544               45    >50K
2575               45    >50K
2644               45    >50K
2728               45    >50K
...               ...      ...
14047              40   <=50K
14178              40   <=50K
15472              40   <=50K
16134              40   <=50K
16981              40   <=50K
17932              40   <=50K
18008              40   <=50K
19112              40   <=50K
20461              40   <=50K
20644              40   <=50K
20772              40   <=50K
23573              40   <=50K
23933              40   <=50K
27820              40   <=50K
28476              40   <=50K
28697              40   <=50K
978                22   <=50K
5590               22   <=50K
5832               22   <=50K
9770               22   <=50K
11770              22   <=50K
25270              22   <=50K
29148              22   <=50K
14756              40   <=50K
21812              40   <=50K
9471               40    >50K
14711              40    >50K
15662              40    >50K
26731              40    >50K
20463              35   <=50K

[2255 rows x 18 columns]

In [7]:
%matplotlib inline
from copy import deepcopy
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')

In [8]:
from sklearn.model_selection import train_test_split

X= result.drop(['salary'],axis=1)
y=result['salary']

split_size=0.3

#Creation of Train and Test dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=split_size,random_state=22)

#Creation of Train and validation dataset
X_train, X_val, y_train, y_val = train_test_split(X_train,y_train,test_size=0.2,random_state=5)

In [15]:
print ("Train dataset: {0}{1}".format(X_train.shape, y_train.shape))
print ("Validation dataset: {0}{1}".format(X_val.shape, y_val.shape))
print ("Test dataset: {0}{1}".format(X_test.shape, y_test.shape))

Train dataset: (1262, 17)(1262,)
Validation dataset: (316, 17)(316,)
Test dataset: (677, 17)(677,)

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.cross_validation import KFold, cross_val_score
from sklearn.cross_validation import train_test_split
%matplotlib inline

In [42]:
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [43]:
# remove rows where occupation is unknown
onlyWomenA = onlyWomenA[onlyWomenA.occupation != '?']
onlyWomenA = onlyWomenA[onlyWomenA.occupation != '?']

In [38]:
import numpy as np
onlyWomenA =(adult[adult.gender== " Female"])
onlyWomenA['workclass_num'] = onlyWomenA.workclass.map({'Private':0, 'State-gov':1, 'Federal-gov':2, 'Self-emp-not-inc':3, 'Self-emp-inc':4, 'Local-gov':5, 'Without-pay':6})
onlyWomenA['over50K'] = np.where(onlyWomenA.salary == '<=50K', 0, 1)
onlyWomenA['marital_num'] = onlyWomenA['maritial status'].map({'Widowed':0, 'Divorced':1, 'Separated':2, 'Never-married':3, 'Married-civ-spouse':4, 'Married-AF-spouse':4, 'Married-spouse-absent':5})

onlyWomenA['rel_num'] = onlyWomenA.relationship.map({'Not-in-family':0, 'Unmarried':0, 'Own-child':0, 'Other-relative':0, 'Husband':1, 'Wife':1})
onlyWomenA.head()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,age,workclass,fnlwght,education,education no,maritial status,occupation,relationship,race,gender,capital gain,capital loss,hours per week,native country,salary,workclass_num,over50K,marital_num,rel_num
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,NaN,1,NaN,NaN
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,NaN,1,NaN,NaN
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,NaN,1,NaN,NaN
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,NaN,1,NaN,NaN
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,NaN,1,NaN,NaN

In [48]:
X = onlyWomenA[['education no', 'age', 'hours per week']]
y = onlyWomenA.over50K

In [46]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np